body{
    margin: 0px;
    padding: 0px;
}
h1{
    color: white;
    background-color: #3399ff;
    margin: 0px;
    padding: 10px;
}
p{
    padding: 30px;
}
div{
    background-color: #fdf6d3;
    border: 1px solid #faf2c7;
    border-radius: 2px;
    width: 200px;
    padding: 20px;
    text-align: center;
    color: gray;
    font-size: 12px;
}
a{
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
}